/* https://colorhunt.co/palette/1a120b3c2a21d5cea3e5e5cb */

body {
  background-color: lemonchiffon;
  display: flex;
  /* text-align: center; */
  margin: auto;
  max-width: 1800px;
  justify-content: center;
  align-items: center;
  font-family: "Constantia", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: black;
  /* color: #3c2a21; */
  font-size: 1.1rem;
}

.outer {
  /* border: 2px dashed #dace4e68; */
  width: 900px;
  min-height: 200px;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

/* ------------------------------------------------------- */
/* Common Elements */
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.button-container span {
  font-size: larger;
  margin-left: 8px;
  margin-right: 8px;
}

p {
  margin-bottom: 20px;
}

/* Text syle for the questions */
.text {
  font-size: large;
}

/* --------------------------------------------------------- */
/* 1. Mood Control Section */
.mood-control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mood-button button {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin: 10px;
}

/* Color for each Mood */
#m1-button {
  background-color: rgb(245, 117, 70);
}
#m2-button {
  background-color: rgb(243, 170, 35);
}
#m3-button {
  background-color: rgb(154, 205, 50);
}
#m4-button {
  background-color: rgb(67, 164, 67);
}

/* ----------------------------------------------------------- */
/* 2. Audio Control Section */
.audio-control {
  display: none;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer-button button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin: 5px;
  background-color: lightgray;
}

#play-pause-btn {
  width: 100px;
  height: 50px;
  border-radius: 10%;
  background-color: lightgray;
  color: black;
  margin-top: 10px;
  margin-bottom: 20px;
}

/* ------------------------------------------------------------- */
/* 3. Review Section */
.satisfaction-section {
  display: none;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.review-button button {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 5px;
  font-size: small;
  margin-bottom: 20px;
}

/* ------------------------------------------------------------- */
/* Footer Section */
.footer {
  display: none;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
