/* https://colorhunt.co/palette/1a120b3c2a21d5cea3e5e5cb */

body {
  background-color: #7bd3ea;
  display: flex;
  text-align: left;
  margin: auto;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: black;
  flex-shrink: 0;
  /*color: #3c2a21;*/
  font-size: 1.1rem;
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin: 10px auto;
}

h2 {
  height: 120px;
  font-size: 1.4rem;
  margin: 5px auto;
  flex-shrink: 0;
}

ul {
  align-items: center;
}

.title {
  width: 1400px;
  margin-top: 70px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.outer {
  border: 2px dashed #a1eebd;
  width: 1400px;
  min-height: 500px;
  margin-top: 40px;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  flex-shrink: 0;
  overflow: scroll;
}

.inner {
  background-color: #a1eebd;
  width: 400px;
  height: 500px;
  margin: 5px auto;
  border: 2px dotted #3c2a21;
  padding: 10px;
  flex-shrink: 0;
  /* line-height: 80px; */
}

a {
  font-size: smaller;
}

#grid-container {
  border: 2px dashed #e5e5cb;
  margin: 50px 0;
  width: 500px;
  min-height: 500px;
  padding: 10px;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* grid-template-rows: 1fr 1fr 1fr 1fr; */
  grid-template-rows: repeat(4, 1fr);
}

#grid-container > * {
  width: 100%;
  height: 100%;
  /* width: 50px;
      height: 50px;
      justify-content: start; */
  /* align-self: center;
      justify-self: center; */
}
